$bgColor: blue;
$max-width: 1100px;
$unit-width: 160px;
$margin-width: 20px;
p {
  margin: 0;
}

:root {
  --md-theme-default-background: white
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}


.card {
  p {
    text-align: left;
  }
}

.update-button {
  width: 10px;
}